a {
    padding: 20px;
    color: ghostwhite;
}
title {
    text-align: center;
    font-size:bold ;
    color: aliceblue;
}
p {
    text-align: center;
    color: azure;
}
html{
    background:url(Assets/182428240217.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: oblique;
}
h2 {
    text-align: center;
    color: white;
}
video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    width: 25%;
}
a:hover {
    color: rgb(183, 180, 180);
}
#robo {
    display: block;
    text-align: center;
    font-size: 20px;
}
li {
    text-align: center;
    color: white;
    font-size:x-large;
    font-style: oblique;
}
.twitter-tweet {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    width: 25%;
    border: solid 2px aliceblue;
    border-radius: 10px;
}