a {
    padding: 20px;
    color: ghostwhite;
}
title {
    text-align: center;
    font-size:bold ;
    color: aliceblue;
}
p {
    text-align: center;
    color: azure;
}
html{
    background:url(download.jpg);
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sel{
    size: 30px;
}